{{ attach_library('people_profiles/dsp-people-styling') }}
<style>
</style>
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    node.field_top_padding.value ? 'top-padding-' ~ node.field_top_padding.value,
    node.field_bottom_padding.value ? 'bottom-padding-' ~ node.field_bottom_padding.value,
    'clearfix',
    'paragraph--type--column', 
    'col-md-3',
    'col-sm-6',
    'col-xs-12',
    'dsp-people-profiles',
    'text-center',
    'equal-height',
    'left-padding-none',
    'right-padding-none'
  ]
%}
<article{{ attributes.addClass(classes) }}>
<div style= "padding: 0 0 36px 0">     
     <div class="inner">
      <div>
        <div class="views-row image-holder">
            <div class="image-container">
                <a href="{{ url }}">
                {# If avatar and profile photo exist #}
                {% if node.field_avatar.entity.field_media_image and node.field_photo.entity.field_media_image %}
                    <span class="views-field image-main">
                        {{ drupal_image(node.field_photo.entity.field_media_image.entity.uri.value, 'wide', {alt: node.field_photo.entity.field_media_image.alt, loading: "lazy", width:"220", height:"220"}, true) }}
                    </span>
                    <span class="views-field image-hover">
                        {{ drupal_image(node.field_avatar.entity.field_media_image.entity.uri.value, 'wide', {alt: node.field_avatar.entity.field_media_image.alt, loading: "lazy", width:"220", height:"220"}, true) }}
                    </span>  
                {% else %} 
                    {# If no avatar or profile photo exist #}
                    {% if (not node.field_avatar.entity.field_media_image) and (not node.field_photo.entity.field_media_image) %}
                          <img style="width: 220px;" src="{{ img_path }}" alt="Image with white UCSB logo on navy blue background">
                    {% endif %} 
                    {# If only avatar exists #}
                    {% if node.field_avatar.entity.field_media_image %}
                          {{ drupal_image(node.field_avatar.entity.field_media_image.entity.uri.value, 'wide', {alt: node.field_avatar.entity.field_media_image.alt, loading: "lazy", width:"220", height:"220"}, true) }}
                    {% endif %}   
                    {# If only profile proto exists #}
                    {% if node.field_photo.entity.field_media_image %}
                          {{ drupal_image(node.field_photo.entity.field_media_image.entity.uri.value, 'wide', {alt: node.field_photo.entity.field_media_image.alt, loading: "lazy", width:"220", height:"220"}, true) }}                   
                    {% endif %}  
                {% endif %}                      
                </a>
            </div>
        </div>  
      </div>
      <div class="text-content">
        {% if node.title is not empty %}
        <h3>
          <a href="{{ url }}">{{ node.title.value }}</a>
          {% if node.field_people_gender_pronouns is not empty %}
            | {{ node.field_people_gender_pronouns.value }}
            {% endif %}
        </h3>
        {% endif %} 
      
        {% if node.field_title is not empty %}
        <h4>{{ node.field_title.value }}</h4>
        {% endif %}

        {% if node.field_website is not empty %}
        <p><a href="{{ node.field_website.value }}">Schedule a meeting with {{ node.title.value }}</a></p>
        {% endif %}
      </div>
    </div>
</div>
</article>