{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{{ attach_library('grad_slam/full-view-styling')}}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    node.field_top_padding.value ? 'top-padding-' ~ node.field_top_padding.value,
    'bottom-padding-none',
    'clearfix',
    'forum-forms'
  ]
%}
<article{{ attributes.addClass(classes).removeAttribute('role') }}>


  <div class= "col-sm-12" style = "padding-top: 50px">
    <div class="col-sm-12 col-md-3" style = "padding-left: 15px; padding-right: 15px;">
     
      {% if node.field_attendee_photo.entity.field_media_image %}
            {{ drupal_image(node.field_attendee_photo.entity.field_media_image.entity.uri.value, 'wide', {alt: node.field_photo.entity.field_media_image.alt, loading: "lazy", style: "width:270px;"}, true) }}   
      {% else %}    
            <img style="width: 270px;" src="{{ img_path }}" alt="Image with white UCSB logo on navy blue background">             
      {% endif %}  
    </div>
    <div class="col-sm-12 col-md-9" style = "padding-left: 25px;">

      <p class="display-medium"><strong>{{ label }}</strong></p>
    {# If the participant is a presenter #}
    {% if node.field_attendee_participant.value %}
      <h2>{{ node.field_attendee_department.0.entity.name.0.value }}</h2>
      <h3>{{ node.field_attendee_talk.value }}</h3>
      <h4 style="vertical-align:center;">
        
        {% if node.field_attendee_champion.value %}
          <span class="float-left" style="width:25px"><svg viewbox="0 0 18.42214 19.5736" xmlns="http://www.w3.org/2000/svg"><label class="sr-only">trophy icon uc santa barbara</label><g><path d="M4.01039,19.13483H14.41192V17.682a.88115.88115,0,0,0-.87845-.879h-8.644a.87631.87631,0,0,0-.621.25717V17.061a.8733.8733,0,0,0-.25808.62094v1.45285ZM3.79162,0H14.63131a.21928.21928,0,0,1,.22029.21877V1.3553h2.25265a1.3208,1.3208,0,0,1,1.31789,1.31813V7.07909a1.28591,1.28591,0,0,1-.53969,1.0634L14.773,10.42012l-.02407.018-2.88063,2.11a.84617.84617,0,0,0-.35924.709v3.107h2.02442A1.32066,1.32066,0,0,1,14.8516,17.682v1.67315a.21905.21905,0,0,1-.22029.21847H3.791a.21885.21885,0,0,1-.21938-.21847V17.682a1.31108,1.31108,0,0,1,.38422-.92838l.00244-.00274H3.9592a1.31181,1.31181,0,0,1,.93025-.38666H7.09121V13.43786a.84268.84268,0,0,0-.35254-.70385L3.67,10.43566l-.00883-.007L.53986,8.14249A1.2935,1.2935,0,0,1,0,7.07909V2.67343a1.31392,1.31392,0,0,1,.38538-.92781L.387,1.74314H.38782V1.74227a1.31666,1.31666,0,0,1,.93025-.387H3.57163V.21877A.21922.21922,0,0,1,3.79162,0Zm11.06,1.79494V9.81955L17.62315,7.789a.84309.84309,0,0,0,.35955-.71V2.67343a.88019.88019,0,0,0-.87845-.87849Zm-11.28,8.02461V1.79494H1.31807A.87313.87313,0,0,0,.698,2.05215l-.00091.00092a.87492.87492,0,0,0-.25747.62036V7.07909a.85036.85036,0,0,0,.35924.71L3.57163,9.81955ZM14.41192.43877H4.01039v9.70407l2.99093,2.24137A1.28671,1.28671,0,0,1,7.53,13.43786V16.3642h3.5403v-3.107a1.287,1.287,0,0,1,.539-1.06218l2.80262-2.05306V.43877ZM6.26974,4.98641a.21462.21462,0,0,0-.16051.07435.21931.21931,0,0,0,.01882.30987l1.48572,1.3096L7.18262,8.60015a.2198.2198,0,0,0,.323.24859L9.20979,7.84083,10.914,8.84969h0a.21127.21127,0,0,0,.15814.025.2185.2185,0,0,0,.16667-.26082l-.43109-1.9321,1.48657-1.30838-.00091-.00092a.21517.21517,0,0,0,.07343-.14355.21892.21892,0,0,0-.19708-.23824L10.19884,4.8042,9.41363,2.98606h0a.219.219,0,0,0-.40251,0L8.22439,4.80328l-1.95465.18313Zm2.12473.241-1.59516.1493,1.2021,1.05974H8.00074a.21979.21979,0,0,1,.06886.21234L7.7192,8.21318l1.37663-.81446a.21808.21808,0,0,1,.22639-.00183l1.37846.8172-.34461-1.547a.21856.21856,0,0,1,.06368-.2297L11.623,5.37856l-1.579-.14965A.21978.21978,0,0,1,9.8463,5.097L9.21161,3.6244,8.57845,5.08818A.22158.22158,0,0,1,8.39447,5.22743Z" style="fill: rgb(0, 77, 137); fill-rule: evenodd;"></path></g></svg></span>
          &nbsp;&nbsp;{{ grad_slam_year }} Champion
        {% elseif node.field_attendee_peoples_choice.value %}
          <span class="float-left" style="width:25px"><svg viewbox="0 0 19.59432 18.76096" xmlns="http://www.w3.org/2000/svg"><label class="sr-only">ward ribbon icon uc santa barbara</label><g><path d="M16.46574,11.48139l3.06436,3.06466a.22014.22014,0,0,1,0,.3108.21778.21778,0,0,1-.15448.064H15.75487v3.62075a.21983.21983,0,0,1-.22029.21938.21623.21623,0,0,1-.15449-.0649l-.00335-.00335-3.62592-3.625a7.68121,7.68121,0,0,1-3.40746.09507c-.16758-.03291-.33151-.071-.49483-.11492L4.21834,18.67808l-.00366.00336a.21772.21772,0,0,1-.1554.0649.22.22,0,0,1-.21938-.2203V14.90621H.21916a.21939.21939,0,0,1-.15449-.37478l3.10855-3.1095a7.70241,7.70241,0,0,1-.41043-.84124,7.54758,7.54758,0,0,1-.4342-1.43208,7.7174,7.7174,0,0,1,0-2.98758A7.66167,7.66167,0,0,1,4.42468,2.2432l-.001-.00092A7.6418,7.6418,0,0,1,9.83669,0,7.63758,7.63758,0,0,1,12.763.58045a7.62372,7.62372,0,0,1,1.32331.70843,7.71133,7.71133,0,0,1,1.16243.9534l.01218.01219A7.75264,7.75264,0,0,1,16.20248,3.405a7.62144,7.62144,0,0,1,1.28857,4.24934,7.75311,7.75311,0,0,1-.146,1.49425,7.6609,7.6609,0,0,1-.4345,1.43208,7.84742,7.84742,0,0,1-.44486.9007ZM7.37259,14.90255l-.07953-.02742.01981.0067.05972.02072Zm-.07953-.02742L7.287,14.87239l-.00671-.00153h0l-.007-.00278-.0061-.0024-.007-.00182-.00243-.00092-.00336-.00183-.00609-.00243-.007-.00183-.00518-.00244H7.23517l-.00671-.00274-.007-.00153-.0061-.00274H7.21445l-.0061-.00244-.00579-.00274-.00609-.00183-.00426-.00152L7.18946,14.838l-.00609-.00275-.0061-.00152L7.17118,14.831H7.17057l-.00609-.00248-.0061-.00179-.00609-.00335-.00335-.00095-.02157-.00789h-.001c-.07435-.02833-.146-.057-.21664-.08623a7.6209,7.6209,0,0,1-1.32331-.70842,7.70813,7.70813,0,0,1-1.16176-.95341h-.001l-.01036-.01036L4.40756,13.05,4.403,13.04571l-.01036-.01036L4.392,13.03352,4.38318,13.025l-.00853-.00792-.00176-.00244-.01043-.01036-.00335-.00335-.007-.007-.01036-.01036h0l-.01036-.01036L4.3262,12.9671l-.00511-.00518-.00951-.0104-.00183-.00179-.00853-.00944-.00793-.00762-.00152-.00274-.01029-.01036-.00373-.00335-.0067-.007-.01036-.01128-.01036-.01127-.0198-.02072-.00085-.00061L4.2095,12.8437l-.00944-.01036-.00244-.00275a7.78223,7.78223,0,0,1-.54078-.66l-.00609-.00854-.00342-.00518-.00244-.00335-.00609-.00792c-.02681-.03717-.05363-.07435-.07946-.11125l-.0061-.0088-.0025-.00339-.00359-.00514-.00525-.00853-.00426-.0061-.00183-.00274L3.53,11.99206l-.00609-.00883h0l-.0061-.00945-.00609-.00762-.00092-.00274-.00518-.007-.00518-.00762L3.498,11.94453l-.00366-.00518-.00579-.00884L3.484,11.92468l-.00152-.0027-.00518-.00762-.0061-.00975-.00609-.00853-.00518-.00853-.00183-.00274-.00518-.0061-.00518-.00853-.00244-.00426-.00365-.00427-.00579-.00975-.00366-.00579-.00152-.00274-.0061-.00853-.00518-.00793V11.826l-.00609-.00853-.00518-.00857L.74964,14.46653H4.05928a.2206.2206,0,0,1,.2203.22029v3.30965l3.093-3.09392-.07953-.02742Zm-.21512-.5512c.07618.03108.15113.06063.22639.089l.0061.00274.00518.00149.00609.00186h0l.00677.00275.02858.011.00609.00182h0l.0061.00275.00518.00152.00585.0027.00268.001.00426.0006.00525.00183.00511.00271.0061.00156h.001l.00609.00274.00511.00152.0061.00275.00244.00091.00335.00092.00518.00152.00609.00274.0061.00152.00609.00275.00525.00183.00609.00152.00329.00091.0028.00183.00512.00152.00579.00183.00518.00183.00182.00091.00427.00153.00525.00183.00609.00182.00511.00153h.001l.0061.00274.00511.00183.0061.00152.00243.00092.00366.00087.00518.00248.00579.00183.00609.00179v.00095l.0061.00152L7.56,14.5037l.0061.00179.00328.00065.00281.00091.00512.00183.0067.00244.00518.00091.02261.00792.00085.00092q.11015.03474.22548.06795l.01743.00518.00146.00091h0q.28119.08038.57009.13742a7.283,7.283,0,0,0,3.31757-.11735.25754.25754,0,0,1,.02834-.00788l.00366-.00092.02407-.0067.01828-.00548.00944-.00244.02834-.00792.00457-.00153.02316-.007.02773-.00853.02833-.00792.00366-.00156.02407-.007a7.16349,7.16349,0,0,0,1.47353-.64444l.025-.01463.025-.01371.0192-.01127.00609-.00427.09933-.06063.00762-.00427.01737-.01127.02072-.01189.00426-.00278.02414-.0155.00968-.00609.01554-.00945.02133-.01466.00274-.00179.025-.01554.00945-.00705.01493-.0094.02132-.01463.00275-.00091.02407-.01646.01036-.0067.014-.00945.02316-.01493.00092-.00065.02413-.01641.01121-.008.01219-.00941.02407-.01645h0l.02438-.01646.01188-.00853.01219-.00792.02346-.01706.00061-.00092.02255-.01645.0131-.00945.01036-.007.02407-.01794.00189-.00092.02157-.01645.01371-.00945.00945-.007.02346-.01794.00244-.00183.02078-.01554.01456-.01127.00884-.007.02231-.01706.00359-.00275.03443-.02772.00792-.00518.02316-.018.00427-.00335.01828-.01493.01645-.01284.0067-.00609.02164-.01733.00609-.00427.01737-.01462.01645-.01311.0061-.00518.02742-.02315.01737-.01463.01652-.014.00609-.00427.02133-.01889.00694-.00518.01554-.014.01737-.01554.00518-.00339.02163-.01885.00671-.00609.015-.01311.01792-.01645.02589-.02224.008-.007.01365-.01219L14.68233,13l.00335-.00278.02164-.01977.00853-.007.01219-.01188.01987-.01828.00176-.00183.02163-.02072.00853-.00762.0128-.01127.01926-.01889.00146-.00183.02072-.01981.00975-.00944.011-.01036.02109-.02011V12.8178l.02065-.02072.01036-.00975.01036-.01036.02072-.02072a7.21092,7.21092,0,0,0,.57345-.645,7.294,7.294,0,0,0,.49239-.709l.00427-.00609a7.327,7.327,0,0,0,.49757-.982,7.23884,7.23884,0,0,0,0-5.51933,7.33639,7.33639,0,0,0-.66692-1.24713,7.23587,7.23587,0,0,0-.88887-1.08382L14.938,2.55247a7.21055,7.21055,0,0,0-9.10808-.90008,7.32761,7.32761,0,0,0-1.09509.90008H4.73389A7.22644,7.22644,0,0,0,2.75944,9.0639,7.18217,7.18217,0,0,0,3.16712,10.414a7.25555,7.25555,0,0,0,.46558.92659l.00183.00366.00061.00148.00792.01219.00336.00522.00365.007.00677.01192h.00085l.007.01219.00433.007.00268.00518.00761.01127.0019.00244.00511.00945.00518.00883.00244.00335.00792.01219.00152.00335.00525.00793.00694.011V11.478l.00793.01128.00341.00518.0042.007.008.01184h0l.00664.01219.00426.007.00366.00427.00762.01219.00091.00152.007.01036.00518.00792.00244.00336.007.01218.00274.00336.00518.00853.0067.00975.00092.00152.00792.01219.00335.00518.00426.00609.00793.01219h0l.00768.011.0042.007.00366.00518.00761.01127.00092.00183.007.01036.00518.00853.00243.00244.00793.01219.00243.00335.0061.00792.00609.01036.00092.00091.00761.01219.00427.00518.00457.00579.00762.01128.00091.00091.007.01127.02407.03352.007.00975.01706.025.00884.01127h0l.02414.03352.00176.00183.02315.032.00275.00426q.20988.28383.44638.54664l.00274.00274.05424.05941.00525.0061.0042.00423.00975.01039.00152.00179.00792.00857.00708.007.031.03291.00061.00152.00975.01067.00433.00331.0061.00609.00938.0104h0l.00944.01036.00609.0061.00427.00426.00945.01036.00182.00092.00762.00853.007.00762.00335.00274.01036.00944.00274.00335.007.007.00762.00945.00274.00087.00945.0104.00426.00427.00518.00518.01036.01036h0v.00091a7.15733,7.15733,0,0,0,1.09509.89917,7.27634,7.27634,0,0,0,1.24805.6676ZM4.57575,6.25244a.2191.2191,0,0,0-.14169.38361l2.7356,2.41139-.79649,3.5464a.21659.21659,0,0,0,.02255.17033.21947.21947,0,0,0,.30043.07766l3.13811-1.85619,3.13688,1.859V12.8437a.21573.21573,0,0,0,.15814.025.21865.21865,0,0,0,.16667-.26082l-.79466-3.55767,2.73718-2.40987h0a.21484.21484,0,0,0,.07337-.14321.219.219,0,0,0-.19775-.23858l-3.62836-.34279L10.03962,2.56709H10.039a.21907.21907,0,0,0-.4019,0L8.18888,5.91391l-3.61313.33853Zm3.78224.0847L5.1044,6.64306,7.55663,8.804h0a.21931.21931,0,0,1,.06916.21238l-.717,3.1899,2.81153-1.66275a.21738.21738,0,0,1,.226-.00183l2.81238,1.6661-.709-3.17223a.21833.21833,0,0,1,.06459-.22974l2.45381-2.15941L11.33,6.3408a.22234.22234,0,0,1-.19684-.13316L9.83761,3.20635,8.54294,6.19911a.21975.21975,0,0,1-.185.138Zm5.952,7.52913-.12432.08806-.00183.00091-.0131.00853-.0128.00884c-.04235.02925-.08562.05755-.12858.08623l-.01493.00944-.011.00793-.0262.01645-.00244.00149-.02346.01466-.02651.01737-.0259.01645-.00274.00183-.02408.01462-.01554.01036-.01036.00518-.02681.01737-.00274.00153-.02407.01462-.01737.01036-.00847.00518-.02688.01554-.00426.00274-.02255.01368-.018.01039-.00883.00518-.02164.01219-.01036.007-.01127.00609-.02072.01189-.00945.00426L13.6,14.32058l-.02164.01218-.00609.00336-.01554.00853-.02157.01218-.00433.0024-.01737.00979-.02163.01189-.00237.00091-.01987.01036-.02164.01219h0l-.02163.01219-.01981.01036-.00274.00061-.02163.01127-.018.00944-.00427.00275-.02163.01127-.01554.00762-.00694.00365-.0217.011-.01371.007-.00853.00427-.02255.01127-.01128.00518-.01127.0061-.02255.01036-.00944.00518L13.182,14.54l-.02157.01036-.008.00427-.01462.007-.02224.01128-.00518.00152-.01829.00884-.02163.011-.00244.00091-.02072.00975-.02255.01032h-.00091l-.02163.0104-.02072.00853-.00244.00183-.02255.00945-.01889.00853-.00457.00183-.02224.01036-.01646.0067-.007.00365-.02249.00945-.02322.00945-.02248.00944-.05613.02438-.01371.00518-.02347.00944-.00518.0024-.0173.007-.04668.01828-.02164.00945h-.00243l-.02255.00944c-.12523.04845-.25138.09324-.379.13556l3.085,3.08451v-3.309a.21928.21928,0,0,1,.21847-.22034h3.30995L16.229,11.86592q-.176.26691-.373.51646a7.65064,7.65064,0,0,1-.60726.68405l-.02164.02255-.01127.01127-.0109.01036-.0217.02133h0l-.02164.02068-.0131.01219-.00945.00949-.02248.02163-.00159.00183-.02072.0198-.0131.01219-.00944.00853-.02255.02072-.02224.0216-.01395.01219-.0086.00857-.02255.02072-.00335.00274-.01981.018-.01493.01311-.00761.00761-.02347.01981-.00426.00427-.01889.01645-.01646.014-.007.0067-.02315.0192-.00518.00517-.01737.01554-.01737.01463-.0067.00518-.02438.02072-.00518.00427-.01706.01462-.0192.01493-.00518.00518-.02407.01977-.00609.00609-.0173.01375-.02414.01889-.02407.02011-.02346.0189-.02072.01553-.00427.00336-.02346.01915-.025.01893-.02072.01646-.00335.00244-.02437.01919-.00945.0067-.01554.01219-.04906.03718-.01036.00761-.01493.01032-.05.03657-.01036.00857Z" style="fill: rgb(0, 77, 137); fill-rule: evenodd;"></path></g></svg></span>
          &nbsp;&nbsp;{{ grad_slam_year }} People's Choice
        {% elseif node.field_attendee_runner_up.value %}
          <span class="float-left" style="width:25px"><svg viewbox="0 0 19.59432 18.76096" xmlns="http://www.w3.org/2000/svg"><label class="sr-only">ward ribbon icon uc santa barbara</label><g><path d="M16.46574,11.48139l3.06436,3.06466a.22014.22014,0,0,1,0,.3108.21778.21778,0,0,1-.15448.064H15.75487v3.62075a.21983.21983,0,0,1-.22029.21938.21623.21623,0,0,1-.15449-.0649l-.00335-.00335-3.62592-3.625a7.68121,7.68121,0,0,1-3.40746.09507c-.16758-.03291-.33151-.071-.49483-.11492L4.21834,18.67808l-.00366.00336a.21772.21772,0,0,1-.1554.0649.22.22,0,0,1-.21938-.2203V14.90621H.21916a.21939.21939,0,0,1-.15449-.37478l3.10855-3.1095a7.70241,7.70241,0,0,1-.41043-.84124,7.54758,7.54758,0,0,1-.4342-1.43208,7.7174,7.7174,0,0,1,0-2.98758A7.66167,7.66167,0,0,1,4.42468,2.2432l-.001-.00092A7.6418,7.6418,0,0,1,9.83669,0,7.63758,7.63758,0,0,1,12.763.58045a7.62372,7.62372,0,0,1,1.32331.70843,7.71133,7.71133,0,0,1,1.16243.9534l.01218.01219A7.75264,7.75264,0,0,1,16.20248,3.405a7.62144,7.62144,0,0,1,1.28857,4.24934,7.75311,7.75311,0,0,1-.146,1.49425,7.6609,7.6609,0,0,1-.4345,1.43208,7.84742,7.84742,0,0,1-.44486.9007ZM7.37259,14.90255l-.07953-.02742.01981.0067.05972.02072Zm-.07953-.02742L7.287,14.87239l-.00671-.00153h0l-.007-.00278-.0061-.0024-.007-.00182-.00243-.00092-.00336-.00183-.00609-.00243-.007-.00183-.00518-.00244H7.23517l-.00671-.00274-.007-.00153-.0061-.00274H7.21445l-.0061-.00244-.00579-.00274-.00609-.00183-.00426-.00152L7.18946,14.838l-.00609-.00275-.0061-.00152L7.17118,14.831H7.17057l-.00609-.00248-.0061-.00179-.00609-.00335-.00335-.00095-.02157-.00789h-.001c-.07435-.02833-.146-.057-.21664-.08623a7.6209,7.6209,0,0,1-1.32331-.70842,7.70813,7.70813,0,0,1-1.16176-.95341h-.001l-.01036-.01036L4.40756,13.05,4.403,13.04571l-.01036-.01036L4.392,13.03352,4.38318,13.025l-.00853-.00792-.00176-.00244-.01043-.01036-.00335-.00335-.007-.007-.01036-.01036h0l-.01036-.01036L4.3262,12.9671l-.00511-.00518-.00951-.0104-.00183-.00179-.00853-.00944-.00793-.00762-.00152-.00274-.01029-.01036-.00373-.00335-.0067-.007-.01036-.01128-.01036-.01127-.0198-.02072-.00085-.00061L4.2095,12.8437l-.00944-.01036-.00244-.00275a7.78223,7.78223,0,0,1-.54078-.66l-.00609-.00854-.00342-.00518-.00244-.00335-.00609-.00792c-.02681-.03717-.05363-.07435-.07946-.11125l-.0061-.0088-.0025-.00339-.00359-.00514-.00525-.00853-.00426-.0061-.00183-.00274L3.53,11.99206l-.00609-.00883h0l-.0061-.00945-.00609-.00762-.00092-.00274-.00518-.007-.00518-.00762L3.498,11.94453l-.00366-.00518-.00579-.00884L3.484,11.92468l-.00152-.0027-.00518-.00762-.0061-.00975-.00609-.00853-.00518-.00853-.00183-.00274-.00518-.0061-.00518-.00853-.00244-.00426-.00365-.00427-.00579-.00975-.00366-.00579-.00152-.00274-.0061-.00853-.00518-.00793V11.826l-.00609-.00853-.00518-.00857L.74964,14.46653H4.05928a.2206.2206,0,0,1,.2203.22029v3.30965l3.093-3.09392-.07953-.02742Zm-.21512-.5512c.07618.03108.15113.06063.22639.089l.0061.00274.00518.00149.00609.00186h0l.00677.00275.02858.011.00609.00182h0l.0061.00275.00518.00152.00585.0027.00268.001.00426.0006.00525.00183.00511.00271.0061.00156h.001l.00609.00274.00511.00152.0061.00275.00244.00091.00335.00092.00518.00152.00609.00274.0061.00152.00609.00275.00525.00183.00609.00152.00329.00091.0028.00183.00512.00152.00579.00183.00518.00183.00182.00091.00427.00153.00525.00183.00609.00182.00511.00153h.001l.0061.00274.00511.00183.0061.00152.00243.00092.00366.00087.00518.00248.00579.00183.00609.00179v.00095l.0061.00152L7.56,14.5037l.0061.00179.00328.00065.00281.00091.00512.00183.0067.00244.00518.00091.02261.00792.00085.00092q.11015.03474.22548.06795l.01743.00518.00146.00091h0q.28119.08038.57009.13742a7.283,7.283,0,0,0,3.31757-.11735.25754.25754,0,0,1,.02834-.00788l.00366-.00092.02407-.0067.01828-.00548.00944-.00244.02834-.00792.00457-.00153.02316-.007.02773-.00853.02833-.00792.00366-.00156.02407-.007a7.16349,7.16349,0,0,0,1.47353-.64444l.025-.01463.025-.01371.0192-.01127.00609-.00427.09933-.06063.00762-.00427.01737-.01127.02072-.01189.00426-.00278.02414-.0155.00968-.00609.01554-.00945.02133-.01466.00274-.00179.025-.01554.00945-.00705.01493-.0094.02132-.01463.00275-.00091.02407-.01646.01036-.0067.014-.00945.02316-.01493.00092-.00065.02413-.01641.01121-.008.01219-.00941.02407-.01645h0l.02438-.01646.01188-.00853.01219-.00792.02346-.01706.00061-.00092.02255-.01645.0131-.00945.01036-.007.02407-.01794.00189-.00092.02157-.01645.01371-.00945.00945-.007.02346-.01794.00244-.00183.02078-.01554.01456-.01127.00884-.007.02231-.01706.00359-.00275.03443-.02772.00792-.00518.02316-.018.00427-.00335.01828-.01493.01645-.01284.0067-.00609.02164-.01733.00609-.00427.01737-.01462.01645-.01311.0061-.00518.02742-.02315.01737-.01463.01652-.014.00609-.00427.02133-.01889.00694-.00518.01554-.014.01737-.01554.00518-.00339.02163-.01885.00671-.00609.015-.01311.01792-.01645.02589-.02224.008-.007.01365-.01219L14.68233,13l.00335-.00278.02164-.01977.00853-.007.01219-.01188.01987-.01828.00176-.00183.02163-.02072.00853-.00762.0128-.01127.01926-.01889.00146-.00183.02072-.01981.00975-.00944.011-.01036.02109-.02011V12.8178l.02065-.02072.01036-.00975.01036-.01036.02072-.02072a7.21092,7.21092,0,0,0,.57345-.645,7.294,7.294,0,0,0,.49239-.709l.00427-.00609a7.327,7.327,0,0,0,.49757-.982,7.23884,7.23884,0,0,0,0-5.51933,7.33639,7.33639,0,0,0-.66692-1.24713,7.23587,7.23587,0,0,0-.88887-1.08382L14.938,2.55247a7.21055,7.21055,0,0,0-9.10808-.90008,7.32761,7.32761,0,0,0-1.09509.90008H4.73389A7.22644,7.22644,0,0,0,2.75944,9.0639,7.18217,7.18217,0,0,0,3.16712,10.414a7.25555,7.25555,0,0,0,.46558.92659l.00183.00366.00061.00148.00792.01219.00336.00522.00365.007.00677.01192h.00085l.007.01219.00433.007.00268.00518.00761.01127.0019.00244.00511.00945.00518.00883.00244.00335.00792.01219.00152.00335.00525.00793.00694.011V11.478l.00793.01128.00341.00518.0042.007.008.01184h0l.00664.01219.00426.007.00366.00427.00762.01219.00091.00152.007.01036.00518.00792.00244.00336.007.01218.00274.00336.00518.00853.0067.00975.00092.00152.00792.01219.00335.00518.00426.00609.00793.01219h0l.00768.011.0042.007.00366.00518.00761.01127.00092.00183.007.01036.00518.00853.00243.00244.00793.01219.00243.00335.0061.00792.00609.01036.00092.00091.00761.01219.00427.00518.00457.00579.00762.01128.00091.00091.007.01127.02407.03352.007.00975.01706.025.00884.01127h0l.02414.03352.00176.00183.02315.032.00275.00426q.20988.28383.44638.54664l.00274.00274.05424.05941.00525.0061.0042.00423.00975.01039.00152.00179.00792.00857.00708.007.031.03291.00061.00152.00975.01067.00433.00331.0061.00609.00938.0104h0l.00944.01036.00609.0061.00427.00426.00945.01036.00182.00092.00762.00853.007.00762.00335.00274.01036.00944.00274.00335.007.007.00762.00945.00274.00087.00945.0104.00426.00427.00518.00518.01036.01036h0v.00091a7.15733,7.15733,0,0,0,1.09509.89917,7.27634,7.27634,0,0,0,1.24805.6676ZM4.57575,6.25244a.2191.2191,0,0,0-.14169.38361l2.7356,2.41139-.79649,3.5464a.21659.21659,0,0,0,.02255.17033.21947.21947,0,0,0,.30043.07766l3.13811-1.85619,3.13688,1.859V12.8437a.21573.21573,0,0,0,.15814.025.21865.21865,0,0,0,.16667-.26082l-.79466-3.55767,2.73718-2.40987h0a.21484.21484,0,0,0,.07337-.14321.219.219,0,0,0-.19775-.23858l-3.62836-.34279L10.03962,2.56709H10.039a.21907.21907,0,0,0-.4019,0L8.18888,5.91391l-3.61313.33853Zm3.78224.0847L5.1044,6.64306,7.55663,8.804h0a.21931.21931,0,0,1,.06916.21238l-.717,3.1899,2.81153-1.66275a.21738.21738,0,0,1,.226-.00183l2.81238,1.6661-.709-3.17223a.21833.21833,0,0,1,.06459-.22974l2.45381-2.15941L11.33,6.3408a.22234.22234,0,0,1-.19684-.13316L9.83761,3.20635,8.54294,6.19911a.21975.21975,0,0,1-.185.138Zm5.952,7.52913-.12432.08806-.00183.00091-.0131.00853-.0128.00884c-.04235.02925-.08562.05755-.12858.08623l-.01493.00944-.011.00793-.0262.01645-.00244.00149-.02346.01466-.02651.01737-.0259.01645-.00274.00183-.02408.01462-.01554.01036-.01036.00518-.02681.01737-.00274.00153-.02407.01462-.01737.01036-.00847.00518-.02688.01554-.00426.00274-.02255.01368-.018.01039-.00883.00518-.02164.01219-.01036.007-.01127.00609-.02072.01189-.00945.00426L13.6,14.32058l-.02164.01218-.00609.00336-.01554.00853-.02157.01218-.00433.0024-.01737.00979-.02163.01189-.00237.00091-.01987.01036-.02164.01219h0l-.02163.01219-.01981.01036-.00274.00061-.02163.01127-.018.00944-.00427.00275-.02163.01127-.01554.00762-.00694.00365-.0217.011-.01371.007-.00853.00427-.02255.01127-.01128.00518-.01127.0061-.02255.01036-.00944.00518L13.182,14.54l-.02157.01036-.008.00427-.01462.007-.02224.01128-.00518.00152-.01829.00884-.02163.011-.00244.00091-.02072.00975-.02255.01032h-.00091l-.02163.0104-.02072.00853-.00244.00183-.02255.00945-.01889.00853-.00457.00183-.02224.01036-.01646.0067-.007.00365-.02249.00945-.02322.00945-.02248.00944-.05613.02438-.01371.00518-.02347.00944-.00518.0024-.0173.007-.04668.01828-.02164.00945h-.00243l-.02255.00944c-.12523.04845-.25138.09324-.379.13556l3.085,3.08451v-3.309a.21928.21928,0,0,1,.21847-.22034h3.30995L16.229,11.86592q-.176.26691-.373.51646a7.65064,7.65064,0,0,1-.60726.68405l-.02164.02255-.01127.01127-.0109.01036-.0217.02133h0l-.02164.02068-.0131.01219-.00945.00949-.02248.02163-.00159.00183-.02072.0198-.0131.01219-.00944.00853-.02255.02072-.02224.0216-.01395.01219-.0086.00857-.02255.02072-.00335.00274-.01981.018-.01493.01311-.00761.00761-.02347.01981-.00426.00427-.01889.01645-.01646.014-.007.0067-.02315.0192-.00518.00517-.01737.01554-.01737.01463-.0067.00518-.02438.02072-.00518.00427-.01706.01462-.0192.01493-.00518.00518-.02407.01977-.00609.00609-.0173.01375-.02414.01889-.02407.02011-.02346.0189-.02072.01553-.00427.00336-.02346.01915-.025.01893-.02072.01646-.00335.00244-.02437.01919-.00945.0067-.01554.01219-.04906.03718-.01036.00761-.01493.01032-.05.03657-.01036.00857Z" style="fill: rgb(0, 77, 137); fill-rule: evenodd;"></path></g></svg></span>
          &nbsp;&nbsp;{{ grad_slam_year }} Runner Up
        {% elseif node.field_attendee_finalist.value %}
          {{ grad_slam_year }} Finalist
        {% elseif node.field_attendee_semi_finalist.value %}
          {{ grad_slam_year }} Semifinalist
        {% endif %}
      </h4>

    {% else %}

      {# If it is a judge #}
      <h2>{{ node.field_attendee_title.value }}</h2>
      <h3 style="vertical-align:center;">
        {{ grad_slam_year }}
        {% if node.field_attendee_final_round_judge.value == false %}
          Final Round Judge
        {% else %}
          Preliminary Round Judge
        {% endif %}
      </h3>
    
    {% endif %}
    </div>
  </div>
    <div class = "col-sm-12" style = "padding-top: 36px">
      <div class="col-sm-12 col-md-12 has-background background-color-eef0f2" style="padding-right: 25px; padding-left:25px">
        <p>{{node.body.value | raw}}</p>
      </div>
    </div>
</article>
