{{ attach_library('ssis_events/full-view-styling') }}

{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    node.field_top_padding.value ? 'top-padding-' ~ node.field_top_padding.value,
    node.field_bottom_padding.value ? 'bottom-padding-' ~ node.field_bottom_padding.value,
    'clearfix', 
  ]
%}


{% set event_dates = node.field_eventtype_event_date[date_index] %}

<article{{ attributes.addClass(classes, 'forum-forms', 'bottom-padding-2', 'events-newsletters') }}>

  <div class= "col-sm-12" style = "padding-top: 50px;">

    {# Event Image #}
    <div class="col-sm-12 col-md-5" style = "padding-left: 15px; padding-right: 15px;"> 
      <a href="{{ file_url(node.field_eventtype_image.entity.field_media_image.entity.uri.value) }}" title = "{{node.field_eventtype_image.entity.field_media_image.alt}}">     
        <div class="image-container">
          {% if node.field_eventtype_image.entity.field_media_image %}
                {{ drupal_image(node.field_eventtype_image.entity.field_media_image.entity.uri.value, 'wide', {alt: node.field_eventtype_image.entity.field_media_image.alt, loading: "lazy", style: "width:100%;"}, true) }}   
          {% else %}    
            <img style="width: 100%" src="{{ img_path }}" alt="Image with white UCSB logo on navy blue background">             
          {% endif %} 
          
          {# Event Category #}
          {# {% for key, category in node.field_eventtype_category  %}
            <div class="text-container-item layer-1 position-top-left has-background background-color-{{ category.entity.field_eventtype_categorycolor.color|replace({'#': ''}) }}">
              <div>{{ category.entity.name.0.value }}</div>
            </div>
          {% endfor %} #}

          {# Event image view icon #}
          {% if node.field_eventtype_image.entity.field_media_image %}
            <div class="icon-container-item layer-1 position-bottom-right has-background background-color-003660">
              <svg style="width:35px; vertical-align: bottom;" viewBox="0 0 17.25179 17.2527" xmlns="http://www.w3.org/2000/svg"><label class="sr-only">magnifying glass icon uc santa barbara</label><g><path d="M10.66784,3.69083a4.9336,4.9336,0,1,0-6.97732,6.977h.00092a4.93328,4.93328,0,1,0,6.9764-6.977Zm2.58659,7.31461,3.61313,3.61222.01195.01371a1.316,1.316,0,0,1,.37136.91806h.00092a1.31677,1.31677,0,0,1-.38423.93208l-.38605.38605-.014.01219a1.3192,1.3192,0,0,1-1.85075-.01219l-3.61221-3.61191a7.18342,7.18342,0,1,1,2.2499-2.25021Zm-.78338.34828-1.55031,1.43269-.00244.00092-.01219.00848-.00176.001-.001.00092a6.74033,6.74033,0,1,1,1.8934-1.8931l-.00518.00853c-.1017.152-.20811.29891-.32054.4406Zm4.08547,3.57382.0103.01031a.87805.87805,0,0,1,.2462.61158h0a.87505.87505,0,0,1-.2565.621l-.38611.38636-.01036.01036a.88195.88195,0,0,1-1.23251-.01036L11.376,13.00488a7.34323,7.34323,0,0,0,.88028-.74864,7.23526,7.23526,0,0,0,.74773-.88033l3.55255,3.55163ZM11.0088,12.727l1.46225-1.37328-.01274.0161-.01316.0165-.02681.03291-.0128.01645-.0131.01554-.01189.01554-.00182.00091-.01219.01646-.01371.01554-.01372.0164-.01036.01193-.00274.00366-.01371.01554-.014.01615-.01279.01554-.00945.01127-.00426.00513c-.10452.1201-.2136.23767-.32664.34985a6.7197,6.7197,0,0,1-.93025.77754l-.00609.00432ZM9.233,2.21456a5.40717,5.40717,0,0,1,1.74379,1.166l.00092.001A5.37173,5.37173,0,1,1,3.38064,10.978h.00092A5.37274,5.37274,0,0,1,9.233,2.21456Z" style="fill: rgb(254, 201, 64); fill-rule: evenodd;"></path></g></svg>
            </div>          
          {% endif %} 
        </div>

      </a>

      {# Event Category #}
      <div class="event-categories">
        {% for key, category in node.field_eventtype_category  %}
            <div class="category-box has-background background-color-{{ category.entity.field_eventtype_categorycolor.color|replace({'#': ''}) }}""></div>
            <span class="category-text">{{ category.entity.name.0.value }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="col-sm-12 col-md-7  equal-height event-content" style = "padding-left: 15px; padding-right: 15px;">

      {# Event Date #}
      <div class="event-details-row col-12 col-xs-12 col-sm-12 col-md-12">
        <span>
          <svg style="width:35px; margin: 0 5px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.58154 21.49622"><title>calendar-with-clock-icon-uc-santa-barbara</title><g><path d="M14.33612,2.36234H12.36928V4.06561a.21939.21939,0,1,1-.43877,0V2.36234H3.72434V4.06561a.21984.21984,0,1,1-.43968,0V2.36234H1.31813a.88326.88326,0,0,0-.87936.87844v14.081a.874.874,0,0,0,.25838.6201l.00092.00091a.87114.87114,0,0,0,.62006.25653H9.73424c-.03284-.071-.0649-.14257-.09507-.216a5.71411,5.71411,0,0,1-.30561-.98205H1.60485a.21964.21964,0,0,1-.21938-.21938V6.33288a.21906.21906,0,0,1,.21938-.21939H14.04946a.21909.21909,0,0,1,.21938.21939v3.82428a5.82711,5.82711,0,0,1,.62609-.03443c.10695,0,.21421.00335.32024.00853V3.24078a.87641.87641,0,0,0-.25808-.62036V2.61889a.87992.87992,0,0,0-.621-.25655ZM14.2575,16.77676a.21987.21987,0,0,1-.3111-.31079l.62616-.62555-2.57532-1.92418a.21935.21935,0,1,1,.26235-.35162l2.345,1.75263-.09477-.68591a.21914.21914,0,1,1,.4342-.05969l.10969.78765,2.72859-2.72737a.21922.21922,0,0,1,.31018.30988L15.242,15.79224l.32389.24258a.21934.21934,0,0,1-.26234.35159l-.12006-.08894.51038,3.67345a.21888.21888,0,0,1-.43359.06034l-.52012-3.73806-.48265.48356Zm-4.03544,1.42261c-.06459-.12429-.12432-.25226-.17794-.38267A5.2731,5.2731,0,0,1,9.73241,16.756v-.00183L9.7315,16.7536h0a.08641.08641,0,0,0-.00336-.02163h0l-.00091-.00183v-.00091a5.27884,5.27884,0,0,1-.07953-.91989,5.22346,5.22346,0,1,1,.64261,2.51956.184.184,0,0,0-.01554-.02864l-.00853-.01558-.00091-.00057-.00244-.0061-.00183-.00182v-.00183l-.00091-.00153-.00092-.00182-.00091-.00092-.00152-.00152v-.00183l-.00085-.00183-.001-.00091-.00091-.00153-.00092-.00182-.00061-.00183-.00091-.00156-.00092-.00088v-.00091l-.00084-.00183V18.253l-.0019-.00186-.00061-.0018-.00091-.00152-.00092-.00092v-.00186l-.00176-.00179v-.00153l-.001-.00182-.00152-.00095v-.0018l-.00183-.00152v-.00183l-.00091-.00094-.00085-.00241-.00068-.00091-.00091-.00183h0l-.00092-.00152-.00091-.00183-.00091-.00183-.00092-.00244-.00152-.00183v-.00183l-.00183-.0006V18.214l-.00183-.00335-.00061-.00183-.00183-.00339h-.00091l-.00091-.00271-.00092-.00183v-.00155Zm-.25991.44032h-8.644a1.3108,1.3108,0,0,1-.92751-.38514L.38788,18.253.387,18.25211h0A1.31846,1.31846,0,0,1,0,17.32183V3.24078A1.32121,1.32121,0,0,1,1.31813,1.92265H3.28466V.21938a.21984.21984,0,0,1,.43968,0V1.92265h8.20617V.21938a.21939.21939,0,0,1,.43877,0V1.92265h1.96684a1.31666,1.31666,0,0,1,.93116.387v.00092a1.31442,1.31442,0,0,1,.38666.93024V10.1727a5.68665,5.68665,0,1,1-5.69179,8.467Zm.91136-6.85178a5.71131,5.71131,0,0,0-1.23434,1.8474c-.02681.06669-.05271.13224-.0777.19866H8.69338V11.77664h2.1914l-.01127.01127Zm.50854-.45H8.69338V9.27963h3.13787v1.738q-.23183.149-.4492.32027Zm.88881-.57436V9.06024a.21977.21977,0,0,0-.21938-.21938H8.474a.2198.2198,0,0,0-.21938.21938v4.994a.21963.21963,0,0,0,.21938.21938h.944a5.7032,5.7032,0,0,0-.16065,2.28891H1.82424V6.55226H13.83008v3.6698a5.66,5.66,0,0,0-1.10911.33151c-.15394.06308-.30416.13407-.45011.20994ZM7.18025,13.834a.21984.21984,0,1,1,0,.43968H3.60338a.21977.21977,0,0,1-.22-.21938v-2.497a.21938.21938,0,0,1,.22-.21939H6.96086V9.27963H3.60338a.21939.21939,0,1,1,0-.43877H7.18025a.22059.22059,0,0,1,.22029.21938v2.497a.21982.21982,0,0,1-.22029.21938H3.82276V13.834Z" style="fill:#a1afba;fill-rule:evenodd"/></g></svg> 
        </span>          
        <span class="eventdate">{{ event_dates.value|date("l\\, F jS\\, Y") }}  {{ event_dates.value|date("g:ia") }} - {{ event_dates.end_value|date("g:ia") }}</span>
        {% if node.field_eventtype_event_date|length > 1 %}
          <div class="other-event-dates">
            {# <p>Other Dates ({{ node.field_eventtype_event_date | length - 1 }}):</p> #}
            <a role="button" class="serif collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" href="#more-event-dates" aria-controls="">Other Dates ({{ node.field_eventtype_event_date | length - 1 }}):</a>
            <div id="more-event-dates" class="panel-collapse collapse" role="tabpanel" aria-labelledby="" aria-expanded="false" >
              <ul>
              {% for key, event_date  in node.field_eventtype_event_date  %}
                {% if key != date_index %}
                  <li>{{ event_date.value|date("l\\, F jS\\, Y") }}  {{ event_date.value|date("g:ia") }} - {{ event_date.end_value|date("g:ia") }}</li>
                {% endif %}
              {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      </div>

      {# Event Location #}
      {% if (node.field_eventtype_location | length > 0) or (node.field_eventtype_location_link.0.url is not empty) %}
        <div class="event-details-row col-12 col-xs-12 col-sm-12 col-md-12">
          <span>
            <svg style="width:25px; margin: 0 10px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.08692 20.23905"><title>location-icon-uc-santa-barbara</title><g><path d="M7.87381,20.15892c-.63567-.74255-1.34654-1.5305-2.08-2.34131A60.73775,60.73775,0,0,1,1.465,12.67246H1.46408a8.24833,8.24833,0,0,1-1.095-2.21121A8.0447,8.0447,0,1,1,16.08692,8.04373H16.086a7.9846,7.9846,0,0,1-1.465,4.62964,60.50706,60.50706,0,0,1-4.32978,5.14577c-.73243.81111-1.444,1.59967-2.0814,2.34344a.22.22,0,0,1-.30927.02407.24987.24987,0,0,1-.02675-.02773ZM8.04315,4.48A3.56359,3.56359,0,0,0,4.47847,8.04373h0a3.56453,3.56453,0,1,0,7.12906,0h0A3.5619,3.5619,0,0,0,8.04376,4.48ZM5.2125,5.2125A3.99135,3.99135,0,0,0,4.03971,8.04373h.001a4.00326,4.00326,0,1,0,8.00652,0h0A4.00469,4.00469,0,0,0,8.04376,4.0394H8.04315A3.99167,3.99167,0,0,0,5.2125,5.2125Zm.90624,12.3123c.68063.7523,1.34122,1.4848,1.925,2.1591.58229-.67369,1.24386-1.40589,1.92357-2.15819a60.51147,60.51147,0,0,0,4.29535-5.10463,7.58061,7.58061,0,0,0,1.38608-4.37735h-.00152a7.60424,7.60424,0,0,0-15.20847,0A7.52059,7.52059,0,0,0,.78856,10.329a7.75945,7.75945,0,0,0,1.03659,2.093H1.82424A60.51306,60.51306,0,0,0,6.11874,17.5248Z" style="fill:#a1afba;fill-rule:evenodd"/></g></svg>
          </span>          
          <span>
            {% if (node.field_eventtype_location|length > 0) and (node.field_eventtype_location_link.0.url is not empty) %}
              {# if location and location link exist #}
              <a href="{{ node.field_eventtype_location_link.0.url }}">{{ node.field_eventtype_location.value }}</a>
            {% elseif (node.field_eventtype_location|length > 0) and (node.field_eventtype_location_link.0.url is empty)  %}
              {# if only location exists #}
              {{ node.field_eventtype_location.value }}
            {% elseif (node.field_eventtype_location|length == 0) and (node.field_eventtype_location_link.0.url is not empty)  %}
              {# if only location link exists #}
              <a href="{{ node.field_eventtype_location_link.0.url }}">{{ node.field_eventtype_location_link.0.url }}</a>
            {% endif %}
          </span>
        </div>
      {% endif %}


      {# Button #}
      {% if node.field_eventtype_description.0.value | length > 500 %}
        {# Button #}
        {% if node.field_eventtype_link.0.url is not empty %}
          <div class="event-details-row col-xs-12 col-12 col-sm-12 col-md-12">
            <a class="ucsb-button btn btn-primary float-right" href="{{ node.field_eventtype_link.0.url }}" title="{{ node.field_eventtype_link.0.title }}">{{ node.field_eventtype_link.0.title }}</a>
          </div>
        {% endif %}
      {% endif %}
      
      {# Event Body #}
      {% if node.field_eventtype_description is not empty %}
        <div class = "col-12 col-sm-12 col-md-12 event-description">
            <p>{{ node.field_eventtype_description.0.value | raw}}</p>
        </div> 
      {% endif %}
      
      
      {# Button #}
      {% if node.field_eventtype_link.0.url is not empty %}
        <div class="event-details-row col-xs-12 col-12 col-sm-12 col-md-12">
          <a class="ucsb-button btn btn-primary float-right" href="{{ node.field_eventtype_link.0.url }}" title="{{ node.field_eventtype_link.0.title }}">{{ node.field_eventtype_link.0.title }}</a>
        </div>
      {% endif %}
      <br/>
 

    </div>
  </div>

</article>
